#splash-overlay {
  z-index: 1;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(55, 58, 71, 0.9);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
}

#splash-overlay.closed {
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#splash-overlay.opened {
  opacity: 1;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#page-wrap {
  z-index: 999;
  position: absolute;
  background: #F0F0F0;
  width: 100%;
  height: 80%;
  top: 10%;
  margin: 0 auto;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-backface-visibility: hidden;
}

@media ( max-height: 735px) {
  #page-wrap.opened{  
    height: 100%;
    top: 0;
    position:fixed;
  };
}

#page-wrap.closed {
  opacity: 0;
}

#page-wrap.opened {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#loader-wrap {
  width: 30%;
  height: 70%;
  min-width: 300px;
  max-width: 600px;
  margin: 10px auto;
  padding-top: 
}

  #logo-wrap {
    display: block;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    background: white;
    border-radius: 50%;
    box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  #logo {
    width: 162px;
    height: 162px;
    margin: -5px;
    border-radius: 50%;
    opacity: 0.7;
  }

#message-wrap {
  min-width: 1px;
  margin: 0 auto;
}

  #header-wrap {
    display: inline-block;
  }

h1 {
  font: 32px Open Sans;
  color: #4A4949;
}

h1::after {
  content: "|";
  display: inline-block;
  font: 40px Open Sans;
  color: #4A4949;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  animation: cursor-flash linear 1.2s infinite;
  -moz-animation: linear 1.2s infinite;
  -webkit-animation: linear 1.2s infinite;
}

#spinner {
  width: 147px;
  height: 147px;
  position: relative;
  top: -150px;
  margin: 0 auto;
  border-top: 3px solid rgba(77, 196, 242, 0.8);
  border-right: 3px solid rgba(77, 196, 242, 0);
  border-left: 3px solid rgba(77, 196, 242, 0);
  border-radius: 50%;
  animation: spin-bot 1s ease-in-out infinite;
  -moz-animation: spin-bot 1s ease-in-out infinite;
  -webkit-animation: spin-bot 1s ease-in-out infinite;
}

@keyframes spin-bot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cursor-flash {
  0% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin-bot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cursor-flash {
  0% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes spin-bot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes cursor-flash {
  0% {
    opacity: 1;
  }
  48% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}